.jumbotron{
	background-color: gray;
	color: white;
}

footer{
	padding: 10px 10px 0px 10px;
	color: white;
	background-color: green;
	margin-bottom: 0px; 
	margin-top: 10px;
}

.btn-reserv{
	width: 100%;
}
